<div class="box has-text-centered has-background-white">
    <div>
        <div class="flex-shrink-0 mb-4">
            <div class="border is-primary"></div>
            <a class="image is-96x96 m-auto">
                <img alt="profile" src="{{ photoValue }}" class="is-rounded"/>
            </a>
        </div>
        <div class="mb-4">
            <p class="title is-3 has-text-grey-dark">
                {{ userObj.first_name }} {{ userObj.last_name }}
            </p>
        </div> 
        <section class="info-tiles">
            <div class="tile is-ancestor has-text-left">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title is-5 mb-3">Username: {{ userObj.username }}</p>
                        <p class="title is-5 mb-3">E-Mail: {{ userObj.email }}</p>
                        <p class="title is-5">Mobile No: {{ userObj.mob_no }}</p>
                        <a class="button is-primary" routerLink="/user-dash/editAcc">
                            <span class="icon is-small">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span>Edit</span>
                        </a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <div *ngIf="!collegeUpdated">
                            <p class="title is-4">Waiting for<br>authorization</p>
                            <div class="load"></div>
                        </div>
                        <div *ngIf="collegeUpdated">
                            <p class="title is-5 mb-3">College: {{ userObj.college }}</p>
                            <p class="title is-5 mb-3">Course: {{ userObj.course }}</p>
                            <p class="title is-5 mb-3">Branch: {{ userObj.branch }}</p>
                            <p class="title is-5">Year of study: {{ userObj.year }}</p>
                            <a class="button is-primary">
                                <span class="icon is-small">
                                    <i class="fas fa-edit"></i>
                                </span>
                                <span>Edit</span>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </div>
</div>