<div class="ran">
        <div id="container">
            <h1 class="title is-1">Empower Your Voice,</h1>
            <div id="line"></div>
            <h1 class="title is-1">Transform Your Vote</h1>
            <div id="line2"></div>
            <div class="container">
                <h1 class="title is-5">For institutions: </h1>
                <a class="button is-primary" routerLink="/college-home">Click here</a>
            </div>
        </div>

        <div class="card-image">
            <figure class="image">
                <img [src] ="ImagePath" alt="electronic voting image">
            </figure>
        </div>
</div>