#cont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eff2f6;
    height: 100vh;
}

.card {
    width: 600px;
    height: 600px;
    margin-top: -5.5%;
    padding: 50px;
} 

#color{
    color: #00d1b2;
}

.field{
    margin-bottom: 30px;
} 

#toright {
    margin-left: 170px;
}

#rem-point{
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}