<div class="container">
        <div class="card" *ngFor="let item of elecsFil">
            <div>
                <p>{{ item.election_name }}</p>
                <p>{{ item.deadline }}</p>
                <button (click)="showCands(item.election_name)" class="button is-primary">Show candidates</button>
            </div>
        </div>
</div>
<div id="relative" class="hide"> 
    <div class="card" id="popup">
        <p class="text is-uppercase is-size-3">{{curElection}}</p>
        <div id="inner-cont">
            <div class="card" *ngFor="let item of candsFil">
                <p class="text">{{ item.cand_name }}</p>
                <p>{{ item.election_promise }}</p>
                <button (click)="vote(item.cand_name)" id="butt" class="button is-info">VOTE</button>
            </div> 
            <button (click)="close()" id="closeButton" class="button is-primary is-large">Close</button>
        </div>
    </div>
</div>