#cont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eff2f6;
    height: 100vh;
    margin-top: -2%;
}

.card {
    width: 500px;
    height: 400px;
    margin-top: -40%;
    padding: 50px;
} 

#color{
    color: #00d1b2;
}

.field{
    margin-bottom: 30px;
} 

#rem-point{
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}