<form action="">
    <div class="columns" id="cont">
        <div class="column" id="inner-cont">
            <div class="card is-spaced">
                <div class="field">
                    <h1 id="rem-point" class="title is-2">Add candidates</h1>
                </div>
                
                <div class="field">
                    <label class="label">Candidate name</label>
                    <div class="control">
                    <input class="input is-success" type="text" id="candidate" name="candidate" [(ngModel)]="candForm.cand_name">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Election Promise</label>
                    <div class="control">
                    <input class="input is-success" type="text" id="promise" name="promise" [(ngModel)]="candForm.promise">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button (click)="addCand()" class="button is-info is-medium">+ Add</button>
                    </div>
                </div>
            
                <div class="field sub">
                    <div class="control">
                        <button (click)="setCands()" class="button is-primary is-large">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="scroll" class="column">
            <div class="container" *ngFor="let item of candArray">
                <div id="card-cont" class="card">
                    <p class="text big"><b>{{ item.cand_name }}</b></p>
                    <p class="text">Promise: {{ item.promise }}</p>
                </div>
            </div>
        </div>
    </div>
</form>